@charset "UTF-8";

.colorRed{
	color:red;
}

div p{
	text-align: center;
	
}
table{
	border:solid 4px black;
	width:600px;
	background-color:yellowgreen;
	border-collapse: collapse;
}

li{
	    list-style-type: disc;
}

.textCenter{
	text-align: center;
}
tr, td{
	padding:0px 5px 0px 5px;
}
td{
	border-bottom: 1px solid black;
}
tr td{
	
}