@charset "UTF-8";

.colorRed{
	color:red;
}

div p{
	text-align: center;
	
}
table{
	border:solid 4px black;
	width:600px;
}

.textCenter{
	text-align: center;
}
tr, td{
	border:solid 1px black;
	padding:0px 5px 0px 5px;
}